{% include "heading.html" %}

<body class="profile-page sidebar-collapse">
  {% include "main-menu.html" %}

  <div class="page-header header-filter" data-parallax="true" style="background-color: black">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="brand text-center">
            <h1>CoAprendiz</h1>
            <h3 class="title text-center">Sistema de Aprendizagem Colaborativa</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main main-raised">
    <div class="container">
      <div class="section text-center">
        <h2 class="title">Pedidos de Ajuda</h2>
      </div>

      <div class="row">

      {% for help in helps %}
        <div class="col-md-12">
          <a href="">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h4 class="card-title">{{ help.title }}</h4>
                    <p class="category">{{ help.description }}</p>
                    <span class="badge badge-success">{{ help.topics }}</span>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-2">
                      <img height="40" width="40" src="{{ url_for('static', filename='imgs/layane.jpg') }}" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                    </div>
                    <div class="col-md-8">
                      <p><strong>Layane</strong></p>
                      <p>{{ user.nPoints }} Pontos</p>
                    </div>
                    <div class="col-md-2">
                      <button id="" type="button" class="btn btn-primary" data-toggle="modal" style="background-color: red">
                        Ajudar
                      </button>
                    </div>
                  </div>
                </div>
            </div>
          </a>
        </div>
      {% endfor %}

    </div>
  </div>

{% include "footer.html" %}
