{% include "heading.html" %}

<body class="profile-page sidebar-collapse">
  {% include "main-menu.html" %}

  <div class="page-header header-filter" data-parallax="true" style="background-color: black">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="brand text-center">
            <h1>CoAprendiz</h1>
            <h3 class="title text-center">Sistema de Aprendizagem Colaborativa</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main main-raised">
    <div class="container">
      <div class="section text-center">
        <h2 class="title">Pedidos de Ajuda</h2>
      </div>

      <div class="row">

      <div class="col-md-6">
        <a href="">
          <div class="card">
              <div class="card-header card-header-danger">
                  <h4 class="card-title">Preciso de ajuda com matemática.</h4>
                  <p class="category">Estou com uma atividade de matemática para fazer sobre equações.</p>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-2">
                    <img height="40" width="40" src="../imgs/eduardo.jpg" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                  </div>
                  <div class="col-md-10">
                    <p>Eduardo Vieira</p>
                  </div>
                </div>
              </div>
          </div>
        </a>
      </div>

      <div class="col-md-6">
        <a href="">
          <div class="card">
              <div class="card-header card-header-danger">
                  <h4 class="card-title">Preciso de ajuda com matemática.</h4>
                  <p class="category">Estou com uma atividade de matemática para fazer sobre equações.</p>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-2">
                    <img height="40" width="40" src="../imgs/eduardo.jpg" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                  </div>
                  <div class="col-md-10">
                    <p>Eduardo Vieira</p>
                  </div>
                </div>
              </div>
          </div>
        </a>
      </div>
    </div>
  </div>

{% include "footer.html" %}
