{% include "heading.html" %}

<body class="profile-page sidebar-collapse">
  {% include "main-menu.html" %}

  <div class="page-header header-filter" data-parallax="true" style="background-color: black">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="brand text-center">
            <h1>CoAprendiz</h1>
            <h3 class="title text-center">Sistema de Aprendizagem Colaborativa</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main main-raised">
    <div class="container">
      <div class="section text-center">
        <h2 class="title">Conversas</h2>
      </div>

      <div class="row">

      <div class="col-md-12">
        <a href="">
          <div class="card">
            <div class="card-body card-header-success">
              <div class="row">
                <div class="col-md-2">
                  <img height="40" width="40" src="../imgs/eduardo.jpg" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                </div>
                <div class="col-md-10">
                  <p><strong>Eduardo Vieira</strong></p>
                  <div class="row">
                    <div class="col-md-10">
                      <p>Olá, tudo bem?</p>
                    </div>
                    <div class="col-md-2">
                      20 minutos
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-12">
        <a href="">
          <div class="card">
            <div class="card-body card-header-success">
              <div class="row">
                <div class="col-md-2">
                  <img height="40" width="40" src="../imgs/eduardo.jpg" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                </div>
                <div class="col-md-10">
                  <p><strong>Eduardo Vieira</strong></p>
                  <div class="row">
                    <div class="col-md-10">
                      <p>Olá, tudo bem?</p>
                    </div>
                    <div class="col-md-2">
                      20 minutos
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>

    </div>
  </div>

{% include "footer.html" %}
