<html>
  <head>
    {% include 'heading.html' %}
  </head>
  <body class="blue-grey lighten-5">
    <nav class="nav-extended blue">
      <div class="nav-wrapper">
        <a class="brand-logo" href="/coaprendiz/">CoAprendiz</a>
        <a href="" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id = "nav-mobile"  class="right hide-on-med-and-down">
          <li>
            <a href="/coaprendiz/settings/"><i class="material-icons right">settings</i>Configurações</a>
          </li>
          <li>
            <a href="/coaprendiz/logout/"><i class="material-icons right">exit_to_app</i>Sair</a>
          </li>
        </ul>
      </div>
      <div class="nav-content">
        <ul class="tabs tabs-transparent">
          <li class="tab"><a href="#interesses">Interesses</a></li>
          <li class="tab"><a href="#conversas">Conversas</a></li>
          <li class="tab"><a href="#pesquisa">Pesquisa</a></li>
        </ul>
      </div>
    </nav>

    <ul class="sidenav" id = "mobile-demo">
      <li>
        <a href="/coaprendiz/settings/"><i class="material-icons right">settings</i>Configurações</a>
      </li>
      <li>
        <a href="/coaprendiz/logout/"><i class="material-icons right">exit_to_app</i>Sair</a>
      </li>
    </ul>

    <div id="interesses" class="col s12">
      <div class="container">
        <div class="card">
          <div class="card-content">
            <span class="card-title">Cartão</span>
          </div>
          <div class="card-action">
            <a class="btn">Botão</a>
          </div>
        </div>

        <a class="btn-floating btn-large"><i class="material-icons">add</i></a>
      </div>
    </div>

    <div id="conversas" class="col s12">
      <div class="container white">
        <h2>Conversas</h2>
        <div id="conversas-painel" >
          <div class = "conversa">

            <div class="row">
              <div class="col s1">
                <img src="doctor.png" alt="" height="80" width="80">
              </div>
              <div class="col s11">
                <h5>Layane</h5>

                <div class="row">
                  <div class="col s10">
                    <p>Mensagem</p>
                  </div>
                  <div class="col s2">
                    <p>18h00</p>
                  </div>
                </div>
              </div>
            </div>

            <div class = "conversa">

              <div class="row">
                <div class="col s1">
                  <img src="doctor.png" alt="" height="80" width="80">
                </div>
                <div class="col s11">
                  <h5>Layane</h5>

                  <div class="row">
                    <div class="col s10">
                      <p>Mensagem</p>
                    </div>
                    <div class="col s2">
                      <p>18h00</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class = "conversa">

                <div class="row">
                  <div class="col s1">
                    <img src="doctor.png" alt="" height="80" width="80">
                  </div>
                  <div class="col s11">
                    <h5>Layane</h5>

                    <div class="row">
                      <div class="col s10">
                        <p>Mensagem</p>
                      </div>
                      <div class="col s2">
                        <p>18h00</p>
                      </div>
                    </div>
                  </div>
                </div>
          </div>
        </div>

      </div>

    </div>

    </div>
  </div>

  <div id="pesquisa" class="col s12">
    <div class="container">
      <h3>Pesquisa</h3>

      <div class="row">
        <div class="col s10">
          <input type="text">
        </div>
        <div class="col s1 offset-s1">
          <a href=""><i class="material-icons">search</i></a>
        </div>
      </div>

      <div class="card">
        <div class="card-content">
          <span class="card-title">Cartão</span>
        </div>
        <div class="card-action">
          <a class="btn">Botão</a>
        </div>
      </div>


      <div class="card">
        <div class="card-content">
          <span class="card-title">Cartão</span>
        </div>
        <div class="card-action">
          <a class="btn">Botão</a>
        </div>
      </div>

    </div>
  </div>




  </body>
</html>
