<html>
  <head>
    <!--cabecalho -->
    {% include 'heading.html' %}

  </head>
  <body class="blue-grey lighten-5">

    <!-- menu principal -->
    {% include "main-menu.html" %}

    <div id="interesses" class="col s12">
      <div class="container">

        {% for i in range(3) %}
          <div class="card">
            <div class="card-content">
              <span class="card-title">Preciso de Ajuda em Matemática</span>
              <div class="row">
                <div class="col s9">
                  <h6>Layane 4.5 <i class="material-icons">star</i></h6>
                </div>
                <div class="col s3">
                  <h6>2 dias atrás</h6>
                </div>
              </div>
              <p>Sobre equação do segundo grau.</p>
            </div>
            <div class="card-action">
              <a class="btn #1f7ea3">Ajudar<i class="material-icons right">thumb_up_alt</i> </a>
            </div>
          </div>
        {% endfor %}


      </div>
      <a class="btn-floating btn-large"><i class="material-icons">add</i></a>

    </div>

    <div id="conversas" class="col s12">
      <div class="container white">
        <h2>Conversas</h2>
        <div id="conversas-painel" >
          <div class = "conversa">
            {% for i in range(3) %}
              <div class="row">
                <div class="col s1">
                  <img src="/static/doctor.png" alt="" height="80" width="80">
                </div>
                <div class="col s11">
                  <h5>Layane</h5>

                  <div class="row">
                    <div class="col s10">
                      <p>Mensagem</p>
                    </div>
                    <div class="col s2">
                      <p>18h00</p>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}

          </div>
        </div>

      </div>

    </div>

    </div>
  </div>

  <div id="pesquisa" class="col s12">
    <div class="container">
      <h3>Pesquisa</h3>

      <div class="row">
        <div class="col s10">
          <input type="text">
        </div>
        <div class="col s1 offset-s1">
          <a href=""><i class="material-icons">search</i></a>
        </div>
      </div>

      {% for i in range(3) %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">Preciso de Ajuda em Matemática</span>
            <div class="row">
              <div class="col s9">
                <h6>Layane 4.5 <i class="material-icons">star</i></h6>
              </div>
              <div class="col s3">
                <h6>2 dias atrás</h6>
              </div>
            </div>
            <p>Sobre equação do segundo grau.</p>
          </div>
          <div class="card-action">
            <a class="btn #1f7ea3">Ajudar<i class="material-icons right">thumb_up_alt</i> </a>
          </div>
        </div>
      {% endfor %}

    </div>
  </div>

  </body>
</html>
