<html>
  <head>
    {% include "heading.html" %}
  </head>
  <body>

    {% include "menu-login.html" %}

    <div class="container">
      <h3>Entrar</h3>

      <label for="">E-mail</label>
      <input type="text">

      <label for="">Senha</label>
      <input type="text">

      <div class="row">
        <div class="col s6">
          <a href="" class="btn">Entrar</a>
        </div>
        <div class="col s6">
          <a href="">Ainda não é cadastrado?</a>
        </div>
      </div>
    </div>
  </body>
</html>
