<nav class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100" id="sectionsNav">
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand" href="/coaprendiz/">
        CoAprendiz </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/coaprendiz/{{ user._id }}" onclick="scrollToDownload()">
            {{ user.name }}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/coaprendiz/chat/" onclick="scrollToDownload()">
            <i class="material-icons">chat</i> Conversas
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/coaprendiz/settings/" onclick="scrollToDownload()">
            <i class="material-icons">settings</i> Configurações
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/coaprendiz/logout/" onclick="scrollToDownload()">
            <i class="material-icons">exit_to_app</i> Sair
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
