{% include "heading.html" %}

<body class="profile-page sidebar-collapse">
  {% include "main-menu.html" %}

  <div class="page-header header-filter" data-parallax="true" style="background-color: black">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="brand text-center">
            <h1>CoAprendiz</h1>
            <h3 class="title text-center">Sistema de Aprendizagem Colaborativa</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main main-raised">
    <div class="container">
      <div class="section text-center">
        <h2 class="title">Configurações</h2>
      </div>

      <div class="row">

      <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Informações Pessoais</h4>
              <p class="category">Mude suas informações pessoais e clique em salvar.</p>

            </div>
            <div class="card-body">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <label for="">Nome</label>
                  </span>
                </div>
                <input type="text" class="form-control" placeholder="Nome">
              </div>

              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <label for="">E-mail</label>
                  </span>
                </div>
                <input type="email" class="form-control" placeholder="E-mail">
              </div>

              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <label for="">Senha</label>
                  </span>
                </div>
                <input type="password" class="form-control" placeholder="Senha">
              </div>

              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <label for="">Confirmar senha</label>
                  </span>
                </div>
                <input type="password" class="form-control" placeholder="Senha novamente">
              </div>

              <button class="btn btn-primary btn-round" style="background-color: red;">
                <i class="material-icons">save</i> Salvar
              </button>
            </div>
      </div>
    </div>


    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Habilidades</h4>
        <p class="category">Mude suas habilidades e clique em salvar.</p>
      </div>
      <div class="card-body">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="material-icons">favorite</i>
            </span>
          </div>
          <input type="text" class="form-control" placeholder="Habilidades">
          <button class="btn btn-primary btn-fab btn-round">
            <i class="material-icons">add</i>
          </button>
        </div>

        <div class="input-group">

          <input type="text" class="form-control">
        </div>

        <button class="btn btn-primary btn-round" style="background-color: red;">
          <i class="material-icons">save</i> Salvar
        </button>
      </div>
    </div>

  </div>

{% include "footer.html" %}
