<html>
  <head>
    {% include "heading.html" %}


  </head>
  <body>
    {% include "menu-login.html" %}

    <div class="container">
      <h3>Cadastro</h3>

      <label for="">Habilidade</label>
      <select>
        <option value="" disabled selected>Escolha uma opção</option>
        <option value="1">Matemática</option>
        <option value="2">Física</option>
        <option value="3">Programação</option>
      </select>

      <label for="Habilidades escolhidas"></label>
      <textarea id="textarea1" class="materialize-textarea"></textarea>


      <div class="row">
        <div class="col s6 offset-12">
          <a href="">Voltar</a>

          <a href="" class="btn">Próximo</a>
        </div>
      </div>
    </div>
  </body>
</html>
